.header
{
    font: 400 20px Sans-Serif;
    font-size: 20px;
    fill: #2F80ED;
}

.headerSmall
{
    font: 400 18px Sans-Serif;
    font-size: 18px;
    fill: #2F80ED;
}

.language
{
    font: 400 14px Sans-Serif;
    font-size: 14px;
    fill: #333333;
}

.timeText
{
    font: 400 13px Lucida Console, Monospace;
    font-size: 13px;
    fill: #333333;
}