.header
{
    font: 400 20px Sans-Serif;
    font-size: 20px;
    fill: #E9E9E9;
}

.headerSmall
{
    font: 400 18px Sans-Serif;
    font-size: 18px;
    fill: #E9E9E9;
}

.language
{
    font: 400 14px Sans-Serif;
    font-size: 14px;
    fill: #CCCCCC;
}

.timeText
{
    font: 400 13px Lucida Console, Monospace;
    font-size: 13px;
    fill: #CCCCCC;
}

.backgroundContainer
{
    stroke: #636363;
    fill: #151A1E;
}

.timeBarFill
{
    fill: #818181;
}